.allProducts {
    border-top: 1px solid black;
}

.ap_product:hover {
    box-shadow: 1px 1px rgb(205, 202, 202);
}

.card_addToCart_btn {
    border: none;
    width: 100%;
    /* margin-top: 10px; */
}

.ap_product:hover .card_addToCart_btn {
    background-color: yellow;

}

.ap_product:hover .card_info_btn {
    background-color: rgb(194, 194, 227);
}

.ap_product {
    border: 1px solid rgb(212, 208, 208);
    margin-top: 10px !important;
    /* padding: auto; */
    margin: auto;
}


.cards_cont {
    
}